<head>
  <link rel="stylesheet" href="/styles/footer.css" />

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>
<footer>
  <div class="footer-container">
    <!-- Logo and Brand Section -->
    <div class="footer-brand">
      <img
        src="/images_testing/Screenshot 2025-03-22 150415.png"
        alt="PICT Logo"
      />
      <p class="tagline">Excellence in Engineering Education Since 1983</p>
      <div class="social-links">
        <a href="#" aria-label="LinkedIn"
          ><i class="fa-brands fa-linkedin-in"></i
        ></a>
        <a href="#" aria-label="Twitter"
          ><i class="fa-brands fa-twitter"></i
        ></a>
        <a href="#" aria-label="Facebook"
          ><i class="fa-brands fa-facebook-f"></i
        ></a>
        <a href="#" aria-label="Instagram"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </div>
    </div>

    <!-- Contact Information Section -->
    <div class="footer-contact">
      <h4>Contact Information</h4>
      <address>
        <p>
          <i class="fa-solid fa-location-dot"></i> A3 4th Floor, PICT, Survey
          No. 27, Near Trimurti Chowk,<br />Bharati Vidyapeeth Campus,
          Dhankawadi,<br />Pune, Maharashtra 411043
        </p>
        <p>
          <i class="fa-solid fa-envelope"></i>
          <a href="mailto:registrar@pict.edu">registrar@pict.edu</a>
        </p>
        <p><i class="fa-solid fa-phone"></i> +91 20 2437 1101</p>
        <p>
          <i class="fa-solid fa-map"></i>
          <a href="https://maps.app.goo.gl/dyyK4qpnGKV5v5q7A" class="map-link"
            >View on Google Maps</a
          >
        </p>
      </address>
    </div>

    <!-- Quick Links Section -->
    <div class="footer-links">
      <h4>Quick Links</h4>
      <div class="links-columns">
        <div class="links-column">
          <ul>
            <li><a href="#">About PICT</a></li>
            <li><a href="#">Admissions</a></li>
            <li><a href="#">Academics</a></li>
            <li><a href="#">Research</a></li>
          </ul>
        </div>
        <div class="links-column">
          <ul>
            <li><a href="#">Facilities</a></li>
            <li><a href="#">Event Spaces</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-bottom-content">
      <p>
        &copy; 2025 Pune Institute of Computer Technology. All Rights Reserved.
      </p>
      <div class="footer-legal">
        <a href="#">Terms of Use</a>
        <span class="separator">|</span>
        <a href="#">Privacy Policy</a>
        <span class="separator">|</span>
        <a href="#">Sitemap</a>
      </div>
    </div>
  </div>
</footer>
