@import url("global.css");

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--accent-color-2);
  display: flex;
  align-items: center;
}

.logo img {
  width: 1.6rem;
  margin-right: 0.2rem;
  border-radius: 5px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  padding: 8px 12px;
  transition: 0.3s;
}

.nav-links a:hover {
  background: var(--accent-color-1);
  border-radius: 5px;
}

/* Login Button Styling */
.login-btn {
  margin-left: 20px;
}

.login-link {
  background-color: var(--accent-color-1);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: background 0.3s ease;
}

.login-link:hover {
  background-color: var(--accent-color-2);
}

/* Toggle Button */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background: var(--text-color);
  margin: 5px;
}

/* Utility Classes */
.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: linear-gradient(
      135deg,
      var(--secondary-color),
      var(--accent-color-1)
    );
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .mobile-only .login-link {
    margin-top: 10px;
    padding: 10px 20px;
    display: inline-block;
  }
}
